nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 10vh;
    background-color: rgb(129, 158, 150);
    border-radius: 5px;
    margin: auto;
    position: relative;
}


nav > a{
    font-weight: 900;
    font-family: 'Raleway';
    display: inline;
    color: #ffff;
    transform: translate(0px, 2px);
    transition: color .5s, transform 0.5s ease-in;
}

nav > a:hover{
    color: hsl(188, 97%, 28%);
    transform: translate(0px, -2px);
    transition: color .5s, transform .3s ease-out;
}


header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 50vh;
    margin-bottom: 10vh;

}

#Title{
    font-family: 'Playfair';
    font-size: 5em;
    margin-top: 10vh;
    font-weight: 200;
}

#Title-Description{
    font-weight: 800;
    transform: translateY(-10vh);
}

hr {
    width: 80vw;
}

h3 + p {
    font-family: 'Raleway';
    width: 80%;
    margin:auto;
    text-align: center;
}

#about-section{
    display:inline-block;
    text-align: center;
    width: 100%;
    margin: 20vh 0 20vh 0;

}

#Founder-Statement{
    display:inline-block;
    text-align: center;
    width: 100%;
    font-family: 'Raleway';
    margin-bottom: 6pc;
    margin-left: auto;
    margin-right:auto;
}


video{ 
    width: 60vw;
    height: 60vh;
    margin: 0 0 1in 0;
    border-radius: 5px;
    border-color:none; 

    
}

#about-section h3{
    font-size: 2em;
}

#about-section p{
    font-size: 1em;
    font-weight: 600;
}



#comments-section{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 15px;
    height: 60vh;
    text-align: center;
    margin-bottom: 20vh;
}

#ideas-section {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 20vh;
    font-family: 'Raleway';
    font-weight: 900;
}

#ideas-section ol > li {
    text-align: center;
}

section h3 {
    font-family: 'Raleway';
    font-size: 2em;
}

section h3 ~ details {
    font-family: 'Raleway';
    font-weight: 900;
}

section h3 ~ details:hover {
    cursor: pointer;
}

#inspiration-section, #important-section{
    text-align: center;
}
#inspiration-grid {
    display: grid;
    grid-template-rows: .25fr;
    grid-template-columns: .25fr .25fr .25fr .25fr;
    gap: 10px;
    width: 100%;
    margin-bottom: 20vh;
    text-align: center;
}


#important-section {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20vh;
}

#important-section h3 {
    text-align: center;
    margin: 0 auto 20px auto;
}


#important-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Raleway';
    font-weight: 900;
    margin: auto;
    text-align: center;
}

#important-section ul > li {
    text-align: center;
    margin: 10px
}

img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%
}

img:hover{
    opacity: .8;
    cursor: pointer;
}

form {
    display: flex;
    justify-content:center;
    flex-direction: column ;
    height: auto;
    width: 50%;
    margin:auto;
    margin-bottom: 20vh;
    background-color: rgb(129, 158, 150);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    font-family: 'Raleway';
    color: white;
}


form h3 {
    text-align: center;
    font-size: 2em;
}

div.user-info {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}


input, datapst, date{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border:none;
    font-family: 'Raleway';
    font-size: 1.1em;
    font-weight: 900;
    padding: 2px 2px 2px 5px;
}

#mood-container, #icecream-container{
  height: 250px;
  width: 80%;
  margin: 0 auto 20px auto;
  
}

.mood-inline, .icecream-inline {
    margin: 20px 0 20px 0;
}

input[type= "checkbox"], input[type="radio"]{
    display:inline-block;  
    width: 24px;
    height: 24px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
}

#role-container{
  width: 80%;
  margin: 20px auto 20px auto;
}


#role-container select{
    width: 100%;
    height: 25px;
    border-width: 0;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: 'Raleway';
    font-weight: 900;
}
textarea{
    font-family: 'Raleway';
    font-weight: 900;
}

#comments-container {
    width: 80%;
    margin: 40px auto 20px auto;
}

#comments-container textarea{
    max-width: 100%;
    min-width: 50%;
    max-height: 300px;
    min-height: 100px;
    border-radius: 5px;
    font-weight: 900;
}

input[type="submit"] {
    width: 40%;
    margin: auto;
    border-radius: 5px;
    border: none;
}

input[type="submit"]:hover {
    opacity: .8;
    cursor: pointer;
}

#contact-section {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: 'Raleway';
    margin-bottom: 20vh;
}

footer h3 {
    font-size: 2em;
}


footer p {
    color: black;
    font-weight: 900;
}

footer p > a {
    color: black;
    font-weight: 900;
}



@media (max-width: 1200px){
    nav {
        display: flex;
        flex-wrap: wrap;
    }
    nav > a {
        font-size: .8em;
    }
}
@media (max-width: 900px){
    nav {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    nav > a {
        font-size: .7em;
    }

 
}

@media (max-width: 600px){
  #Title{
    font-size: 4em;
    margin-top: 10vh;
  }

  h3 +p {
    font-size: .8em;
  }
 
}